<router-outlet></router-outlet>

<div class="app">

    <div class="app__title">Лёгкая инициатива</div>

    <div class="newInit">
        <button (click)="createInit()" class="button button-ok">Новая инициатива</button>
    </div>

    <div *ngIf="initiativeQueueSort.length !== 0;" class="initiativeLine">

        <div class="initiativeLine__rounds">Раунд: <span>{{ round }}</span></div>

        <div *ngFor="let item of initiativeQueueSort; let even = even;" [ngClass]="{evenInitiative: even }" class="initiativeLine__item">
            <div class="initiativeLine__item_value">{{ item.initiative }}</div>
            <div class="initiativeLine__item_name">{{ item.name }}</div>
        </div>

        <button class="initiativeLine__nextButton button button-ok" (click)="nextTurn()">Следующий</button>

    </div>

    <app-mobs-list *ngIf="step === 1" (toPlayers)="nextStep($event)" (cancelInit)="cancelInit()"></app-mobs-list>

    <app-players-list *ngIf="step === 2" (rollInit)="rollInit($event)" (cancelInit)="cancelInit()"></app-players-list>

</div>