<div class="popup">

    <abbr class="popup__title" title="НПС (NPC) - не игровой персонаж">НПС:</abbr>

    <div class="playerInputs" *ngFor="let item of chars">
        <div class="playerInputs__item">
            <div class="playerInputs__item_title">Название: </div> <input type="text"  placeholder="Введите название НПС" [(ngModel)]="item.name">
        </div>
        <div class="playerInputs__item">
            <div class="playerInputs__item_title">Бонус: </div> <input type="number" placeholder="Введите бонус инициативы" [(ngModel)]="item.initBonus">
        </div>
        <div class="playerInputs__item">
            <div class="playerInputs__item_title">Количество: </div> <input type="number" placeholder="Введите количество" [(ngModel)]="item.amount" (input)="checkPositive($event)">
        </div>
    </div>

    <button (click)="addChar()" class="addPlayer button button-ok">Добавить группу <abbr title="НПС (NPC) - не игровой персонаж">НПС</abbr></button>


    <div class="popup__buttons">
        <button (click)="cancel()" class="button button-cancel">Отмена</button>
        <button (click)="next()" class="button button-ok">Далее</button>
    </div>
</div>